DEBUG=True

DJANGO_SECRET_KEY=
INVENTORY_DATABASE_URL='postgres://'
ORDERS_DATABASE_URL='postgresql+asyncpg:/'

KAFKA_BOOTSTRAP_SERVERS=
KAFKA_BROKERS=

INVENTORY_DATABASE_USER=
INVENTORY_DATABASE_PASSWORD=
INVENTORY_DATABASE_NAME=

ORDERS_DATABASE_USER=
ORDERS_DATABASE_PASSWORD=
ORDERS_DATABASE_NAME=

JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=